@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@if (ViewBag.Eraisikud == null || !Enumerable.Any(ViewBag.Eraisikud))
{
    <div style="padding:3rem 5rem">Ei ole veel ühtegi...</div>
}
else
{
    <table class="table table-striped">

        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Eesnimi</th>
                <th scope="col">Perekonnanimi</th>
                <th scope="col">Isikukood</th>
                <th scope="col"></th>
            </tr>
        </thead>

        @{
            var i = 1;

            foreach (var item in ViewBag.Eraisikud)
            {
                <tr>
                    <td class="col-1">@i</td>
                    <td class="col-2">@item.Eesnimi</td>
                    <td class="col-2">@item.Perekonnanimi</td>
                    <td class="col-1">@item.Isikukood</td>
                    <td class="col-1">
                        <span class="action-link" onclick="AlustaEraisikuEemaldamine(@item.Id, '@item.Eesnimi @item.Perekonnanimi')">Eemalda</span>
                        <span class="action-link" onclick="AlustaEraisikuMuutmine(@item.Id)">Muuda</span>
                    </td>
                </tr>

                i++;
            }
        }

    </table>
}