@{
    ViewData["Title"] = "Koduleht";
}

<div class="text-center">

    <div class="container tutvustus">
        <!-- Tutvustus -->
        Tere tulemast Registreerimissüsteemile! Siin te võite vaadata üle kõik planeeritud ja juba möödunud üritused. Soovi korral te võite ka lisada uusi üritusi.
    </div>

    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button my-accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                    Planeeritud Üritused
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne">
                <div class="accordion-body">

                    <div class="row">
                        <div class="col-6 header-col">
                            Nimetus
                        </div>
                        <div class="col header-col">
                            Toimumisaeg
                        </div>
                        <div class="col header-col">
                            Toimumise Koht
                        </div>
                        <div class="col-1 header-col">
                            Osavõtjad
                        </div>
                        <div class="col-1 header-col">
                        </div>
                    </div>

                    @foreach (var item in ViewBag.PlaneeritudUritused)
                    {
                        <div class="row">
                            <div class="col-6 my-col">
                                @item.Nimi
                            </div>
                            <div class="col my-col">
                                @item.Toimumisaeg
                            </div>
                            <div class="col my-col">
                                @item.ToimumiseKoht
                            </div>
                            <div class="col-1 my-col">
                                @item.OsavotjateArv
                            </div>
                            <div class="col-1 my-col">
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed my-accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Möödunud Üritused
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo">
                <div class="accordion-body">

                    <div class="row">
                        <div class="col-6 header-col">
                            Nimetus
                        </div>
                        <div class="col header-col">
                            Toimumisaeg
                        </div>
                        <div class="col header-col">
                            Toimumise Koht
                        </div>
                        <div class="col-1 header-col">
                            Osavõtjad
                        </div>
                        <div class="col-1 header-col">
                        </div>
                    </div>

                    @foreach (var item in ViewBag.MoodunudUritused)
                    {
                        <div class="row">
                            <div class="col-6 my-col">
                                @item.Nimi
                            </div>
                            <div class="col my-col">
                                @item.Toimumisaeg
                            </div>
                            <div class="col my-col">
                                @item.ToimumiseKoht
                            </div>
                            <div class="col-1 my-col">
                                @item.OsavotjateArv
                            </div>
                            <div class="col-1 my-col">
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
