@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@if (ViewBag.PlaneeritudUritused == null || !Enumerable.Any(ViewBag.PlaneeritudUritused))
{
    <span>Ei ole veel ühtegi...</span>
}
else
{

    <div class="row">
        <div class="col-5 header-col">
            Nimetus
        </div>
        <div class="col header-col">
            Toimumisaeg
        </div>
        <div class="col header-col">
            Toimumise Koht
        </div>
        <div class="col-1 header-col">
            Osavõtjad
        </div>
        <div class="col-2 header-col">
        </div>
    </div>

    @foreach (var item in ViewBag.PlaneeritudUritused)
    {
        <div class="row">
            <div class="col-5 my-col">
                @item.Nimi
            </div>
            <div class="col my-col">
                @item.Toimumisaeg.ToString("dd.MM.yyyy HH:mm")
            </div>
            <div class="col my-col">
                @item.ToimumiseKoht
            </div>
            <div class="col-1 my-col">
                @item.OsavotjateArv
            </div>
            <div class="col-2 my-col">
                <button type="button" class="btn btn-danger" onclick="AlustaUrituseEemaldamine(@item.Id, '@item.Nimi')">Tühista</button>
                <button type="button" class="btn btn-success" onclick="VaataUritus(@item.Id)">Vaata</button>
            </div>
        </div>
    }

}